<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="NoticeDao">

<!-- 글 등록 -->

	<insert id="insertNotice" parameterType="noticeDTO">
		INSERT INTO notice(
			noti_num,
			noti_title,
			id,
			noti_content,
			noti_date)
		VALUES(
			notice_seq.nextval,  
			#{noti_title},
			#{id},
			#{noti_content},
			SYSDATE
		)
	
	</insert>
	
	<!-- 글 전체 레코드 수 또는 검색 -->
	<select id="selectRowCountNotice" parameterType="map" resultType="integer">
		SELECT
			COUNT(*)
		FROM notice
		<where>
			<if test="keyword!='' and keyfield=='noti_title'">
				noti_title like '%' || #{keyword} || '%'
			</if>
			<if test="keyword!='' and keyfield=='id'">
				id like '%' || #{keyword} || '%'
			</if>
			<if test="keyword!='' and keyfield=='noti_content'">
				noti_content like '%' || #{keyword} || '%'
			</if>
			<if test="keyword!='' and keyfield=='all'">
				noti_title like '%' || #{keyword} || '%' or
				id like '%' || #{keyword} || '%' or
				noti_content like '%' || #{keyword} || '%'
			</if>
		</where>
	</select>
	
	<!-- 글 목록 -->
	
	<select id="selectListNotice" parameterType="map" resultType="noticeDTO">
		SELECT
			*
		FROM (SELECT
				a.*,
				rownum rnum
			  FROM (SELECT
			  		*
			  		FROM notice
			  		<where>
						<if test="keyword!='' and keyfield=='noti_title'">
							noti_title like '%' || #{keyword} || '%'
						</if>
						<if test="keyword!='' and keyfield=='id'">
							id like '%' || #{keyword} || '%'
						</if>
						<if test="keyword!='' and keyfield=='noti_content'">
							noti_content like '%' || #{keyword} || '%'
						</if>
						<if test="keyword!='' and keyfield=='all'">
							noti_title like '%' || #{keyword} || '%' or
							id like '%' || #{keyword} || '%' or
							noti_content like '%' || #{keyword} || '%'
						</if>
					</where>
					ORDER BY noti_num DESC)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>			
	</select>
	
	<!-- 글 상세 -->
	<select id="selectNotice" parameterType="Integer" resultType="noticeDTO">
		SELECT
			*
		FROM notice
		WHERE noti_num = #{noti_num}
	</select>
	
	<!-- 조회수 -->
	<update id="updateHitNotice" parameterType="Integer">
		UPDATE notice 
		SET noti_hit = noti_hit + 1
		WHERE noti_num = #{noti_num}
	</update>
	
	<!-- 공지사항 수정 -->
	<update id="updateNotice" parameterType="noticeDTO">
		UPDATE notice
		SET noti_title = #{noti_title},
			noti_content = #{noti_content}
		WHERE noti_num = #{noti_num}
	</update>
	
	<!-- 공지사항 삭제 -->
	<update id="deleteNotice" parameterType="integer">
		DELETE FROM notice
		WHERE noti_num = #{noti_num}
	</update>
</mapper>